<div class="ml-5" style="">
  <a href="/products" class=""><img src="/uploads/product/image/a/1.jpeg" alt="" style="width:28rem;"></a>
  <a href="/products" class=""><img src="/uploads/product/image/a/2.jpeg" alt="" style="width:28rem;"></a>
  <a href="/products" class=""><img src="/uploads/product/image/a/3.jpeg" alt="" style="width:28rem;"></a>
</div>
<div class="container" style="padding-top:1rem;">
  <div class = "colorlib-work">
    <div class = "row pt-4">
      <% @products.each_with_index do |product,index| %>
        <% if index % 4 == 0 %>
        <% end %>
        <div class="col-md-3 pt-0 px-0" >
          <%= link_to product_path(product) do %>
            <%= render 'shared/product', product: product %>
          <% end %>
        </div>
        <% if (@products.count == (index+1)) || (index % 4 == 3) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
